<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div>
  <h1 [hidden] = "isHidden" [style.color]="hColor">{{title}} is my first Angular app.</h1>
  <h2 [style.color]="hColor">My name is {{name}}.</h2>
  <div *ngIf = "showDiv">
    <input [(ngModel)] = "txtValue" type="text">
    | <label>{{txtValue}}</label>
    | <button (click)= "setTxtValue('WTE!');">WTE!</button>
  </div>
  <p></p>
  <button (click)="setName();">Change Name</button>
  | <button (click) = "toggleColor()">Toggle Color</button>
  | <button (click) ="flipHidden()">Flip Hidden</button>
 <p></p>
  <div>
    <h3>Users</h3>
    <table class="table table-sm">
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
      <tr *ngFor = "let user of users">
        <td>{{user.id}}</td>
        <td>{{user.firstname}} {{user.lastname}}</td>
      </tr>
    </table>
  </div>
  <div>
    <ol>
      <li *ngFor = "let name of names">
        <span>Name is {{name}}</span>
      </li>
    </ol>
  </div>
</div>